<!DOCTYPE html>
<html>
  <head>
    <title>DJ Server</title>
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script>
        var room_id = '<%= room %>';
        var app = {
          host: '<%= host %>'
        };
        var socket_server = '<%= socket_server %>';
        var client_url = 'http://<%= host %>/room/<%= room %>';
    </script>
    <script src="http://<%= socket_server %>/socket.io/socket.io.js"></script>
    <script src="/scripts/lib/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="/scripts/lib/qrcode.js"></script>
    <script src="/scripts/lib/angular-qrcode.js"></script>
    <script src="/scripts/lib/swfobject/swfobject.js"></script>
    <script src="/scripts/screen/app.js"></script>
  </head>
  <body ng-app="djscreen" ng-controller="screen" ng-class="bodyClass">
    <div id="player_wrap">
      <div id="player" youtube-player></div>
      <div ng-model="player" youtube></div>
    </div>
    <div id="playlist" ng-controller="playlist">
      <img src="/img/screen-by-razko.jpg" style="width: 100%">
      <ul>
        <li ng-repeat="item in playlist">
          <div class="img" style="background-image: url({{item.image}});"></div>
          <div class="info">
            <span class="title">{{item.title}}</span>
            <span class="artist">{{item.title}}</span>
          </div>
        </li>
      </ul>
    </div>
    <qrcode id="qrcode" data="{{qrcode}}" size="500"></qrcode>
  </body>
</html>