<!DOCTYPE html>
<html>
  <head>
    <title>DJ Server</title>
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script>
        var room_id = '<%= room %>';
        var app = {
          host: '<%= host %>'
        };
        var socket_server = '<%= socket_server %>';
        var client_url = 'http://<%= host %>/room/<%= room %>';
    </script>
    <script src="http://<%= socket_server %>/socket.io/socket.io.js"></script>
    <script data-main="/scripts/main" src="/scripts/lib/require.js"></script>
  </head>
  <body>
    <div id="player_wrap">
      <div id="player"></div>
    </div>
    <div id="playlist"></div>
    <div id="qrcode"></div>


    <!-- Playlist Template -->
    <script type="text/template" id="playlist_template">
      <img src="/img/screen-by-razko.jpg" style="width: 100%">
      <ul>
      {{#each playlist}}
        <li>
          <div class="img" style="background-image: url({{this.image}});"></div>
          <div class="info">
            <span class="title">{{this.title}}</span>
            <span class="artist">{{this.title}}</span>
          </div>
        </li>
      {{/each}}
      </ul>

    </script>
  </body>
</html>